<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
	<servlet-name>StudentServ1</servlet-name>
	<servlet-class>StudentServ1</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>StudentServ1</servlet-name>
	<url-pattern>/StudentServ1</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>BookServ</servlet-name>
	<servlet-class>BookServ</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>BookServ</servlet-name>
	<url-pattern>/BookServ</url-pattern>
</servlet-mapping>
</web-app>





